{% extends 'base.html.twig' %}

{% block title %}Portfolio - Cédric Le Sergent{% endblock %}

{% block body %}
    {# import Hero Section #}
    <div {{ react_component('HeroSection') }}></div>

    {# include main navbar #}
    {{ include('partials/_navbar.html.twig') }}

    {# import Presentation Section #}
    <div {{ react_component('Presentation') }}></div>

    {# import Skill Section #}
    <div {{ react_component('SkillSection') }}></div>

    {# import Expertise Section #}
    <div {{ react_component('ExpertiseSection') }}></div>

    {# import Portfolio Section #}
    <div {{ react_component('PortfolioSection') }} id="portfolio" class="z-0"></div>

    {# import Portfolio Section #}
    {{ include('partials/_blog-section.html.twig') }}

    {# include footer #}
    {{ include('partials/_footer.html.twig') }}
{% endblock %}
