{% extends 'base.html.twig' %}

{% block title %}Portfolio - Cédric Le Sergent{% endblock %}

{% block body %}
    {# import Hero Section #}
    <div {{ react_component('HeroSection') }}></div>

    {# include main navbar #}
    {{ include('partials/_navbar.html.twig') }}

    {# import Presentation Section #}
    <div {{ react_component('Presentation') }}></div>

    {# import Skill Section #}
    <div {{ react_component('SkillSection') }}></div>

    {# import Expertise Section #}
    <div {{ react_component('ExpertiseSection') }}></div>

    {# import Portfolio Section #}
    <div {{ react_component('PortfolioSection') }} id="portfolio" class="z-0"></div>

    {# import Blog Title Module #}
    <div {{ react_component('TitleSection', {
        number:"4.",
        bigTitle:"blog",
        smallTitle:"blog",
        detail:"articles",
        description:"Un peu de tout"}) }} class="mt-24">
    </div>

    {# import Portfolio Section #}
    <div class="lg:flex justify-center mx-10">
        {% for post in posts %}
            {% if post.isAhead == true %}
                {{ include('partials/_blog-section.html.twig') }}
            {% endif %}
        {% endfor %}
        {# Aside blog post  #}
        <div class="lg:ml-6 lg:mt-0 mt-7 2xl:w-3/12 lg:w-4/12 w-full flex lg:flex-col sm:flex-row flex-col items-center justify-between">
            {% for post in posts %}
                {% if post.isAside == true %}
                {{ include('partials/_aside-blog-section.html.twig') }}
                {% endif %}
            {% endfor %}
        </div>

    </div>
    <div class="flex justify-center items-center w-full py-2 gap-2 mt-5 mb-10">
        <button class="btn btn-outline btn-xs sm:btn-sm md:btn-md">
            <a href="{{ path('blog') }}">
                Voir plus d'articles
            </a>
        </button>
    </div>



    {# include footer #}
    {{ include('partials/_footer.html.twig') }}
{% endblock %}
